<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ id ? 'Editar' : 'Adicionar'}} setor</span>
            <button mat-icon-button (click)="thisDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="formGroup" class="event-form w-100-p" fxLayout="column" fxFlex novalidate>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="100" class="pr-4">
                    <app-input-autocomplete [formGroup]="formGroup" formControlName="empresaNome"
                        formControKey="empresaId" [service]="_serviceEmpresa"
                        [gridSettingsModel]="gridSettingsModelEmpresa" selectKey="id" selectValue="nome" pH="Empresa"
                        ngDefaultControl [required]="true" (eventChange)="reciverEventChange()"
                        (eventClear)="reciverEventClear()">
                    </app-input-autocomplete>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="100" class="pr-4">
                    <app-input-autocomplete [formGroup]="formGroup" formControlName="setorNome" formControKey="setorId"
                        [service]="_setorService" [gridSettingsModel]="gridSettingsModel" selectKey="id"
                        selectValue="nome" pH="Setor" ngDefaultControl></app-input-autocomplete>
                </div>
            </div>

        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button type="button" mat-raised-button color="primary" [disabled]="formGroup.invalid"
            (click)="save(formGroup.value, formGroup.valid)">
            {{id ? 'Atualizar' : 'Salvar' }}
        </button>
        <span fxFlex></span>
        <button type="button" mat-raised-button color="basic" (click)="onCloseCancel()">Fechar</button>
    </div>
</div>