<mat-form-field class="full-width">
  <input #input id="{{idd}}" matInput [placeholder]="pH" (keyup)="searchAutocomplete(input.value)" [matAutocomplete]="autocomplete"
    [(ngModel)]="entityFilter[ngModelProperty]" [field]="field" [op]="op" [model]="model" gridSettings>
  <!-- <button type="button" mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSetor()">
    <mat-icon>close</mat-icon>
  </button> -->
  <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="optionSelected($event)">
    <mat-option *ngFor="let element of elements" [value]="element[selectKey]">
      <small>{{element[selectValue]}}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>