<div class="animated fadeIn">
  <mat-card-content>
    <!-- <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtro
          </mat-panel-title>
          <mat-panel-description>
            Filtrar anexos
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card-content>

          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-xs="40" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Anexo Nome" [(ngModel)]="entityFilter.arquivo" field="Arquivo.Nome"
                    op="cn" [model]="gridSettingsModel" gridSettings />
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="30" class="pr-1">
              <div class="pb-1">
                <app-input-filter-autocomplete [entityFilter]="entityFilter" ngModelProperty="AcaoId"
                  [service]="_acaoService" [gridSettingsModelFilter]="gridSettingsModelToFilterAutocompleteAcao"
                  [model]="gridSettingsModel" field="AcaoId" op="eq" selectKey="id" selectValue="nome" pH="Ação">
                </app-input-filter-autocomplete>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="30">
              <div class="pb-1" class="text-center">
                <app-input-filter-autocomplete [entityFilter]="entityFilter" ngModelProperty="SetorId"
                  [service]="_setorService" [gridSettingsModelFilter]="gridSettingsModelToFilterAutocompleteSetor"
                  [model]="gridSettingsModel" field="SetorId" op="eq" selectKey="id" selectValue="nome" pH="Setor">
                </app-input-filter-autocomplete>
              </div>
            </div>
          </div>
        </mat-card-content>

        <div class="text-center">
          <mat-card-actions>
            <button type="button" mat-raised-button (click)="search()" color="primary">Pesquisar</button>
            <button type="button" mat-raised-button (click)="clear()" color="warn">Limpar</button>
          </mat-card-actions>
        </div>

      </mat-expansion-panel>
    </mat-accordion> -->
  </mat-card-content>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="baseSortData($event)" class="mat-elevation-z1">

      <ng-container matColumnDef="Arquivo.Nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Anexo Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.arquivo?.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Tramite.Acao.Nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ação </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.tramite?.acao?.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Tramite.Setor.Nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Setor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.tramite?.setor?.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef class="text-center"> Ação </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-center">
          <button type="button" mat-icon-button (click)="downloadArquivo(element)" matTooltip="Baixar Anexo">
            <mat-icon aria-label="icon-button with a face icon">cloud_download</mat-icon>
          </button>
          <button *ngIf="!element?.tramite?.tramitado" type="button" mat-icon-button (click)="delete(element)" matTooltip="Excluir">
            <mat-icon color="warn" aria-label="Example icon-button with a face icon">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-card *ngIf="pagination.totalElements == 0">Nenhum Resultado Encontrado.</mat-card>
  </mat-card-content>

  <mat-card-actions>
    <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="pagination.totalElements"
      [pageSize]="pagination.size" [showFirstLastButtons]="true" [hidePageSize]="false">
    </mat-paginator>
  </mat-card-actions>

</div>