<div class="page-layout simple fullwidth animated fadeIn">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Cadastro</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ id ? 'Edição' : 'Criação'}}</span>
            </div>
            <div class="h2 mt-16">Ação</div>
        </div>

        <div>
            <mat-card-actions>
                <button type="button" mat-raised-button color="primary" [disabled]="formGroup.invalid"
                    (click)="form.ngSubmit.emit()">
                    {{id ? 'Atualizar' : 'Salvar' }}
                </button>
                <button type="button" mat-raised-button color="basic" (click)="goBack()">
                    Voltar
                </button>
            </mat-card-actions>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form #form="ngForm" class="mat-card p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="formGroup" (ngSubmit)="save(formGroup.value, formGroup.valid)" novalidate>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Código</mat-label>
                        <input matInput formControlName="id">
                        <mat-icon matSuffix class="disabled-text">domain</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>O nome é obrigatório</mat-error>
                    </mat-form-field>

                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->

</div>