@{ 
    Layout = "_LayoutRelatorio"; 
}

<header>
    <h1>MINUTA DE OFÍCIO</h1>
    <h3>
        (CARGO COMISSIONADO - COM ÔNUS P/ A ORIGEM)
    </h3>
</header>
<article>
    <p>Ao Excelentíssimo Senhor</p>
    <p>NOME DO GOVERNADOR</p>
    <p>GOVERNADOR DO ESTADO DO CEARÁ</p>
    <p>FORTALEZA - CE</p>    
    <p></p>
    <p>Senhor Governador, <br> Cuprimentando-o, solicito a Vossa Excelência, com fundamento no Decreto Estadual Nº 32.185, de 04 de Abril de 2017, a cessão, com ônus para a origem,
    do(a) servidor(a) público(a) estadual  NOME DA SERVIDORA, ocupante do cargo/função de NOME DA FUNÇÃO, lotado(a) na LOTAÇÃO DO SERVIDOR, matrícula n° 1234567890, 
    para exercer o cargo de provimento em comissão de ___________, símbolo ___________, na ___________ do(a) ___________.</p>
    <p></p>
    <p>Atenciosamente,</p>
    <p></p>
    <p>NOME DO DIRIGENTE MÁXIMO</p>
    <p>CARGO</p>
</article>