<div class="page-layout simple fullwidth animated fadeIn">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Cadastro</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ id ? 'Edição' : 'Criação'}}</span>
            </div>
            <div class="h2 mt-16">Insumo</div>
        </div>

        <div>
            <mat-card-actions>
                <button type="button" mat-raised-button color="primary" [disabled]="formGroup.invalid"
                    (click)="form.ngSubmit.emit()">
                    {{id ? 'Atualizar' : 'Salvar' }}
                </button>
                <button type="button" mat-raised-button color="basic" (click)="goBack()">
                    Voltar
                </button>
            </mat-card-actions>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <form #form="ngForm" class="mat-card p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="formGroup" (ngSubmit)="save(formGroup.value, formGroup.valid)" novalidate>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field *ngIf="id" appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Código</mat-label>
                        <input [disabled]="true" matInput formControlName="id">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="40" class="pr-4">
                        <app-input-autocomplete [formGroup]="formGroup" formControlName="tipoInsumoDescricao"
                            formControKey="tipoInsumoId" [service]="_tipoInsumoService"
                            [gridSettingsModel]="gridSettingsTipoInsumoModel" selectKey="id" selectValue="descricao"
                            pH="Tipo de insumo" ngDefaultControl readonly required>
                        </app-input-autocomplete>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <mat-label>Identificador</mat-label>
                        <input matInput formControlName="identificador" required>
                        <mat-error *ngIf="formGroup.controls.identificador.errors">O identificador é obrigatório
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" required>
                        <mat-error *ngIf="formGroup.controls.nome.errors">O nome é obrigatório</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="descricao" required>
                        <mat-error *ngIf="formGroup.controls.descricao.errors">O descricao é obrigatório</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Observação</mat-label>
                        <input matInput formControlName="observacao">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                        <mat-label>Modelo</mat-label>
                        <input matInput formControlName="modelo" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                        <mat-label>Patrimonio</mat-label>
                        <input matInput formControlName="patrimonio" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4" class="mat-form-field--no-underline">
                        <mat-label>Ativo?</mat-label>
                        <input matInput style="display: none" value="-">
                        <mat-checkbox formControlName="ativo"></mat-checkbox>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="30" class="pr-4">
                        <mat-label>Data de criação</mat-label>
                        <input matInput [matDatepicker]="dataCriacao" formControlName="dataCriacao" readonly>
                        <mat-datepicker-toggle matSuffix [for]="dataCriacao"></mat-datepicker-toggle>
                        <mat-datepicker #dataCriacao></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30" class="pr-4">
                        <mat-label>Data de inativação</mat-label>
                        <input matInput [matDatepicker]="dataInativacao" formControlName="dataInativacao">
                        <mat-datepicker-toggle matSuffix [for]="dataInativacao"></mat-datepicker-toggle>
                        <mat-datepicker #dataInativacao></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Criado por</mat-label>
                        <input matInput formControlName="criadoPorNome" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Alterado por</mat-label>
                        <input matInput formControlName="alteradoPorNome" readonly>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="50" class="pr-4">
                        <app-input-autocomplete [formGroup]="formGroup" formControlName="unidadeMedidaDescricao"
                            formControKey="unidadeMedidaId" [service]="_unidadeMedidaService"
                            [gridSettingsModel]="gridSettingsModel" selectKey="id" selectValue="descricao"
                            pH="Unidade de medida" ngDefaultControl readonly>
                        </app-input-autocomplete>
                    </div>
                    <div fxFlex="50" class="pr-4">
                        <app-input-autocomplete [formGroup]="formGroup" formControlName="marcaDescricao"
                            formControKey="marcaId" [service]="_marcaService" [gridSettingsModel]="gridSettingsModel"
                            selectKey="id" selectValue="descricao" pH="Marca" ngDefaultControl readonly>
                        </app-input-autocomplete>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="50" class="pr-4">
                        <app-input-autocomplete [formGroup]="formGroup" formControlName="setorNome"
                            formControKey="setorId" [service]="_setorService"
                            [gridSettingsModel]="gridSettingsNomeModel" selectKey="id" selectValue="nome" pH="Setor"
                            ngDefaultControl readonly>
                        </app-input-autocomplete>
                    </div>
                    <div fxFlex="50" class="pr-4">
                        <app-input-autocomplete [formGroup]="formGroup" formControlName="fornecedorNome"
                            formControKey="fornecedorId" [service]="_fornecedorService"
                            [gridSettingsModel]="gridSettingsNomeModel" selectKey="id" selectValue="nome"
                            pH="Fornecedor" ngDefaultControl readonly>
                        </app-input-autocomplete>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>