<div class="page-layout simple fullwidth animated fadeIn">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Perfil</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Editar</span>
            </div>
            <div class="h2 mt-16">Perfil</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <router-outlet></router-outlet>
    <!-- / CONTENT -->
</div>